node_modules
postman
.env
/logs
*.log
/uploads/*
!/uploads/documents/
!/uploads/licenses/
!/uploads/proofs/
/uploads/documents/*
/uploads/licenses/*
/uploads/proofs/*
!/uploads/documents/.gitkeep
!/uploads/licenses/.gitkeep
!/uploads/proofs/.gitkeep
